<!DOCTYPE html>
<html>
  <head>
    
    <title>tajiblog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">blog</a>
       <% if user_signed_in? %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">qq</a></li>
          <li><%= link_to 'ログアウト', ' /users/sign_out' ,method: :delete%></li>
          <li><%= link_to '投稿', '/tweets/new' %></li>
        </ul>
      <% else %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">qq</a></li>
          <li><%= link_to 'ログイン', '/tweets/new' ,class: 'post'%></li>
          <li><%= link_to '新規登録', '/users/sign_up' ,class: 'post'%></li>
        </ul>
      </div>
    <% end %>
  </nav>

    <%= yield %>
  </body>
</html>

<%# method: :delete %>